<div class="servers-container">
  <div class="server">
    <div class="server-image">
      <%= image_tag 'banner.png' %>
    </div>
    <div class="server-details">
      <div class="header-details">
        <span class="title">
          WoW Circle 
        </span>
        
        <div class="server-rating">
          <span class="vote-count">
            39412
          </span>
          <a href="#" class="rating-img">
          </a>
        </div>
      </div>
      <span class="sep">
      </span>
      <div class="server-description">
        [High Rate x20 5.4.8 NO Custom][255 Level Cap 3.3.5a][Tier 1 to Tier 19][Fun realm x100 3.3.5a][New Race like Pandaren, Naga, High Elf etc.][21000+ Custom Items][Amazing Custom and scripted Instances][Custom Quests]
      </div>
      <div class="server-rates">
        <span class="rate-badge">
          x100
        </span>
        <span class="rate-badge">
          x75
        </span>
        <span class="rate-badge">
          x25
        </span>
      </div>
    </div>
    <div class="server-award first">
    </div>
  </div>
  
  <div class="server">
    <div class="server-image">
      <%= image_tag 'banner.png' %>
    </div>
    <div class="server-details">
      <div class="header-details">
        <span class="title">
          WoW Circle 
        </span>
        
        <div class="server-rating">
          <span class="vote-count">
            39412
          </span>
          <a href="#" class="rating-img">
          </a>
        </div>
      </div>
      <span class="sep">
      </span>
      <div class="server-description">
        [High Rate x20 5.4.8 NO Custom][255 Level Cap 3.3.5a][Tier 1 to Tier 19][Fun realm x100 3.3.5a][New Race like Pandaren, Naga, High Elf etc.][21000+ Custom Items][Amazing Custom and scripted Instances][Custom Quests]
      </div>
      <div class="server-rates">
        <span class="rate-badge">
          x100
        </span>
        <span class="rate-badge">
          x75
        </span>
        <span class="rate-badge">
          x25
        </span>
      </div>
    </div>
    <div class="server-award second">
    </div>
  </div>
  
  <div class="server">
    <div class="server-image">
      <%= image_tag 'banner.png' %>
    </div>
    <div class="server-details">
      <div class="header-details">
        <span class="title">
          WoW Circle 
        </span>
        
        <div class="server-rating">
          <span class="vote-count">
            39412
          </span>
          <a href="#" class="rating-img">
          </a>
        </div>
      </div>
      <span class="sep">
      </span>
      <div class="server-description">
        [High Rate x20 5.4.8 NO Custom][255 Level Cap 3.3.5a][Tier 1 to Tier 19][Fun realm x100 3.3.5a][New Race like Pandaren, Naga, High Elf etc.][21000+ Custom Items][Amazing Custom and scripted Instances][Custom Quests]
      </div>
      <div class="server-rates">
        <span class="rate-badge">
          x100
        </span>
        <span class="rate-badge">
          x75
        </span>
        <span class="rate-badge">
          x25
        </span>
      </div>
    </div>
    <div class="server-award">
      <img src="images/award.png" class="first-place">
    </div>
  </div>
  
  <div class="server">
    <div class="server-image">
      <%= image_tag 'banner.png' %>
    </div>
    <div class="server-details">
      <div class="header-details">
        <span class="title">
          WoW Circle 
        </span>
        
        <div class="server-rating">
          <span class="vote-count">
            39412
          </span>
          <a href="#" class="rating-img">
          </a>
        </div>
      </div>
      <span class="sep">
      </span>
      <div class="server-description">
        [High Rate x20 5.4.8 NO Custom][255 Level Cap 3.3.5a][Tier 1 to Tier 19][Fun realm x100 3.3.5a][New Race like Pandaren, Naga, High Elf etc.][21000+ Custom Items][Amazing Custom and scripted Instances][Custom Quests]
      </div>
      <div class="server-rates">
        <span class="rate-badge">
          x100
        </span>
        <span class="rate-badge">
          x75
        </span>
        <span class="rate-badge">
          x25
        </span>
      </div>
    </div>
    <div class="server-award">
      <img src="images/award.png" class="first-place">
    </div>
  </div>
  
</div>