@font-face {
    font-family: Segoe;
    src:font-url('segoeui.ttf');
}
* {
	font-family: Segoe;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
body
{
	background: #f1f4f9;
}
button {
	cursor: pointer;
}
.header
{
	height: 70px;
	background: white;
}
.header-content
{
	width: 970px;
	margin:0px auto;
}
.header-logo
{
	float: left;
	font-size: 30px;
	line-height: 70px;
}
.logo-blue
{
	color: #0099cc;
}
.logo-green
{
	color: #1abc9c;
}
.header-nav
{
	float: right;
}
.header-nav ul li
{
	list-style: none;
	float: left;
}
.header-nav ul li a
{
	display: block;
	line-height: 70px;
	color: #00c17f;
	padding:0px 20px;
}
.header-nav ul li a:hover
{
	color: white;
	background-color: #00c17f;
}
.page
{
	width: 1170px;
	margin: 0px auto;
}
.left-col
{
	width: 270px;
	margin: 0px 30px 0px 15px;
	float: left;
}
.sidebar
{
	width: 265px;
	height: 340px;
	background: white;
	padding-top: 10px;
	margin-top: 95px;
}
.login-form
{
	margin:20px;
}
.login-form .login-label, .login-form .password-label
{
	float: left;
	padding-left:5px;
	color: #414a51;
	margin-bottom:3px;
}
.login-form input[type="text"], .login-form input[type="password"]
{
	width: 100%;
	height: 30px;
	float: left;
	border: none;
	background-color: #f1f4f9;
	margin-bottom: 10px;
	padding: 0px 5px;
	line-height: 30px;
}
.login-button
{
	background-color: #0099cc	;
	color: white;
	border: none;
	width: 120px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin: 0px 50px;
	border-radius: 3px;
	text-align: center;
	font-size: 16px;
}
.selector-img
{
	margin: 20px 17px 0px 17px;
}
.social-buttons
{
	float: left;
	margin-top: 10px
}
.facebook-btn, .vk-btn
{
	width: 160px;
	height: 30px;
	line-height: 30px;
	background-color: #207099;
	color: white;
	font-size: 16px;
	margin: 5px 30px;
	border:none;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	text-align: center;
}
.vk-btn
{
	background-color: #0099cc;
}
.right-col
{
	width: 770px;
	float: right;
}
.notify-container
{
	height: 70px;
	margin-bottom: 5px;
}
.reg-notify
{
	width: 770px;
	height: 50px;
	background-color: #82D3FA;
	text-align: center;
	margin: 20px 0px;
	line-height: 50px;
}
.red-btn
{
	height: 29px;
	border-bottom: '1px solid! #e2544c';
	background-color: #e8645a;
	text-align: center;
	color: white;
	line-height: 30px;
	padding: 0px 10px;
	border: none;
	border-radius: 3px;
}

.green-btn
{
	height: 29px;
	border-bottom: '1px solid! #1da565';
	background-color: #00c17f;
	text-align: center;
	color: white;
	line-height: 30px;
	padding: 0px 10px;
	border: none;
	border-radius: 3px;
}
.server
{
	height: 150px;
	background-color: white;
	float: left;
	margin-bottom: 20px;
}
.server.view
{
  height: 100%;
  padding-bottom: 10px;
}
.server-image
{
	float: left;
	margin: 10px;
  width: 160px;
  overflow: hidden;
}
.header-details
{
	float: left;
	width: 440px;
}
.title
{
	float: left;
	font-size: 24px;
	color: #414a51;
	text-align: left;
	margin-top: 10px;
}
.server-rating
{
	float: right;
}
.rating-img
{
  background: url("rate.png") 0 0 no-repeat;
  background-position: 50% -25px;
  width: 130px;
  height: 20px;
  display: block;
  margin-top: 18px;
  float: right;
}
.star-0
{
  background-position: 0px -129px;
}
.star-1
{
  background-position: 0px -103px;
}
.star-2
{
  background-position: 0px -77px;
}
.star-3
{
  background-position: 0px -51px;
}
.star-4
{
  background-position: 0px -25px;
}
.star-5
{
  background-position: 0px 0px;
}
.vote-count
{
	float: left;
	margin: 22px 5px 0px 0px;
	font-size: 12px;
	color: #414a51;
}
.sep
{
	width:435px;
	height: 1px;
	background-image: image-url("sep.png");
	float: left;
}
.server-description
{
	  float: left;
	  width: 430px;
	  max-height: 60px;
	  font-size: 14px;
	  color: #414a51;
	  overflow: hidden;
	  word-wrap: break-word;
	  margin: 6px 3px 0px 3px;
}
.server-details
{
    float: left;
  	width: 440px;
  	overflow: hidden;
}
.rate-badge
{
  float: left;
  height: 18px;
  font-size: 13px;
  background: #00b16a;
  border-radius: 3px;
  padding: 2px 3px;
  color: white;
  min-width: 30px;
  text-align: center;
  margin-left: 3px;
  font-family: monospace;
  line-height: 14px;
}
.server-rates
{
	margin-top: 13px;
    float: left;
}
.server-award
{
	float: left;
  	width: 150px;
  	height: 150px;
}
img.first-place
{
	margin-left: 14px; 
}
.server-award {
  text-align: center;
  line-height: 150px;
  font-size: 81px;
}
.server-award.second {
  background-image: url("award-2.png");
  background-repeat: no-repeat;
  background-position: 14px 0px;
}
.server-award.award-1 {
  background-image: url("award.png");
  background-repeat: no-repeat;
  background-position: 14px 0px;
}
.server-award.award-2 {
  background-image: url("award-2.png");
  background-repeat: no-repeat;
  background-position: 14px 0px;
}
.server-award.top50 {
  color: rgb(55, 174, 55);
}
.server-award.top100 {
  color: rgb(55, 133, 174);
}
.server-award.top1000 {
  color: rgb(190, 102, 48);
}
*
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.registration, .profile
{
  background-color: white;
  float: left;
  margin-bottom: 20px;
  width: 770px;
}
form.reg-form, div.profile-form {
  background-color: white;
  float: left;
  margin-bottom: 20px;
  width: 770px;
  max-width: 770px;
  padding: 10px 20px;
}
 
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}
 
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #535353;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

textarea
{
  max-width: 730px;
  height: 200px;
}
 
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
 
select {
  padding: 6px;
  height: auto;
  border-radius: 2px;
}
 
button.reg-form, input[type="submit"].reg-form, button.submit-btn, input[type="submit"].submit-btn{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
input[type="submit"].submit-btn
{
  margin-bottom: 50px;
}

fieldset {
  margin-bottom: 10px;
  border: none;
}
 
legend.profile-form,legend.profile-form {
  font-size: 1.4em;
  margin-bottom: 10px;
}
 
label {
  display: block;
  margin-bottom: 8px;
}
 
label.light {
  font-weight: 300;
  display: inline;
}
 
.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.rules
{
  margin-bottom: 20px;
}
.profile
{
  float: left;
  height: 100%;
  width: 100%;
}
.user-avatar
{
  width: 128px;
  height: 128px;
  margin: 20px auto;
}
.user-notify
{
  margin-left: 100px;
  position: absolute;
  margin-top: 15px;
}
.user-avatar img
{
	  width: 128px;
  height: 128px;
  border-radius: 50%;
  position: absolute;
}
.dashboard-notify, .pm-notify, .comments-notify
{
  width: 30px;
  height: 30px;
  background-color: #549a41;
  border-radius: 50%;
  position: absolute;
  line-height: 31px;
  color:white;
}
.pm-notify
{
	margin-top: 70px;
}
.comments-notify
{
  margin: 35px 0px 5px 10px;
}
.user-name, .user-nav-button
{ 
  height: 35px;
  width: 100%;
  background: #EA4F35;
  line-height: 35px;
  text-align: center;
  color: white;
}
.user-nav
{
  width: 265px;
  margin: 50px 0px;
}
.user-nav-button
{
  width: 250px;
  border: none;
  margin: 0px auto;
  display: table;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #4f9cbc;
}
.comments-icon, .pm-icon, .dashboard-icon
{
  height: 12px;
  width: 14px;
  background: image-url("user-icons.png");
  display: block;
  text-align: center;
  margin: auto;
  margin-left: 8px;
  margin-top: 9px;
}
.pm-icon
{
  background-position: 28px 0px;
}
.dashboard-icon
{
  background-position: 0px 0px;
}
.comments-icon
{
  background-position: 14px 0px;
}
.appear-notify
{
    border-radius: 3px;
    width: 80px;
    opacity: 0;
    position: absolute;
	-webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.appear-notify
{
	display: block;
	cursor: pointer;
	font-size: 12px;
}
.appear-notify:hover
{
	position: absolute;
	display: block;
	opacity:1;
}
.appear-notify span
{
	margin-left: 8px;
	float: left;
	margin-right: 5px;
}
.unreaded
{
	background-color: rgb(232, 62, 62);
}
label.avatarUpload input[type="file"] {
    position: fixed;
    top: -1000px;
}
.avatarUpload, .add-realm-btn, .remove-realm-btn {
  padding: 19px 39px 18px;
  color: #FFF;
  background-color: #4F9CBC;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border-style: solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-width: 1px 1px 3px;
  box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1) inset;
  border-color: #4F92BC;
  width: 500px;
  margin-bottom: 10px;
  margin-left: 120px;
}
legend.reg-form
{
  font-size: 24px;
  margin: 15px 0px;
}
.add-realm-btn, .remove-realm-btn
{
  float: left;
  width: 50%;
  margin: 10px 25%;
  background-color: rgb(233, 117, 19);
  border-color: rgb(233, 102, 19);
}
.remove-realm-btn
{
  background-color: #E13D22;
  border-color: #E7381B;
}
.server-badge
{
  width: 70px;
  height: 70px;
  float: left;
  background-color: #00b16a;
}
.server-badge .server-place
{
  width: 70px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
.server-badge .server-votes
{
  width: 70px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #474747;
}
.server-header
{
  float: left;
  height: 70px;
  width: 480px;
}
.server-header .server-title {
  float: left;
  font-size: 24px;
  color: #414a51;
  text-align: left;
  margin: 22px 0px 0px 10px;
}
span.title-sep
{
  width:460px;
  height: 1px;
  float: left;
  background-color: #e8eeef;
  margin: 10px;
}
.server-star
{
  width: 25px;
  height: 25px;
}
.server-rate
{
  float: left;
  margin: 25px 0px 0px 15px;
  width: 100px;
  text-align: left;
  line-height: 27px;
  font-size: 20px;
}
.server-rate .star-0, .server-rate .star-1, .server-rate .star-2, .server-rate .star-3, .server-rate .star-4, .server-rate .star-5
{
  background-image: url("stars.png");
  background-position: -50px 0px;
  display: block;
  float: left;
  margin-right: 5px;
}
.server-rate .star-2, .server-rate .star-3, .server-rate .star-4
{
  background-position: -25px 0px;
}
.server-rate .star-5
{
  background-position: 0px 0px;
}
.server-sidebar
{
  width: 200px;
  height: 215px;
  background-color: #e8eeef;
  padding: 15px 10px;
  font-size: 14px;
  color: #333333;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}
.server-sidebar a.server-site
{
  color: #58a3dd;
  font-size: 12px;
  float: left;
}
.server-sidebar a.server-vote-button
{
  width: 180px;
  height: 30px;
  color: white;
  background-color: #ef512c;
  float: left;
  line-height: 30px;
  text-align: center;
  display: block;
  margin: 10px 0px;
}
.server-sidebar .server-img
{
  width: 180px;
  height: 100px;
  float: left;
}
.server-story
{
  width: 540px;
  height: 145px;
  background-color: #e8eeef;
  padding: 10px;
  float: left;
  color: #333333;
  margin: 10px 0px 0px 10px;
  transition: height 0.5s ease 0s;
  overflow: hidden;
}
.server-story .text
{
  display: block;
  width: 100%;
  text-align: justify;
  font-size: 14px;
  transition: height 0.5s ease 0s;
}
.show-more
{
  width: 145px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #696969;
  background-image: image-url("show_more.png");
  float: left;
  margin: 5px 180px;
  font-size: 12px;
}
.server-realms, .server-reviews
{
  width: 540px;
  color: #333333;
  margin: 10px 0px 0px 10px;
}
.section-header
{
  width: 540px;
  font-size: 18px;
  text-align: center;
  color: #333333;
  float: left;
  margin-top: 10px;
}
.section-header span
{
  height: 1px;
  background-color: #e8eeef;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}
.server-realms table tr td 
{
  height: 30px;
  background-color: #e8eeef;
  line-height: 30px;
  text-align: left;

}
.server-realms table
{
  color: #515151;
  border-spacing: 2px;
  font-size: 14px;
  max-width: 540px;
  width: 100%;
  float: left;
}
.server-realms table tr td.realm-online, .server-realms table tr td.realm-expansion
{
  width: 80px;
}
.server-realms table tr td.realm-rate
{
  width: 60px;
  padding: 0px 10px;
}
.server-realms table tr td.realm-name
{
  width: 250px;
  padding-left: 10px;
}
.server-realms table tr td.realm-type
{
  width: 50px;
  text-align: center;
}
span.wotlk
{
  width: 21px;
  height: 21px;
  display: block;
  float: left;
  margin: 4px 5px;
  background-image: image-url("wotlk.png");
}
span.online
{
  width: 12px;
  height: 13px;
  display: block;
  float: left;
  margin: 8px 5px;
  background-image: image-url("player.png");
}
.reviews-btn, .add-review-btn, #submit-review
{
  float: left;
  width: 260px;
  height: 35px;
  background-color: #33add6;
  line-height: 35px;
  color: white;
  font-size: 14px;
  border-bottom: 2px solid #0099cc;
  text-align: center;
}
.add-review-btn
{
  float: right;
  background-color: #2ebd85;
  border-bottom: 2px solid #00b16a;
}
.author-img
{
  float:left;
  height: 48px;
  width: 48px;
  overflow: hidden;

}
.review
{
  float: left;
  margin: 20px 0px;
}
.review-content
{
  margin-left: 5px;
  float: left;
}
.review-details
{
  width: 480px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #515151;
}
.review-details a
{
  color: #0099cc;
}
.review-posted-date
{
  font-size: 10px;
}
.review-text
{
  width: 480px;
  background-color: #e8eeef;
  padding: 10px;
  font-size: 14px;
}
.review-subheader
{
  font-weight: bold;
}
.review-full-btn
{
  width: 450px;
  height: 25px;
  margin: 10px 5px 0px 5px;
  background-color: #cad0d1;
  line-height: 25px;
  text-align: center;
  color: #333333;
  display: block;
}
.review-text-content 
{
  overflow: hidden;
  font-size: 13px;
}
.new_review
{
  float: left;
  width: 100%;
  background-color: #E8EEEF;
  padding: 30px;
  border-radius: 3px;
  margin-top: 5px;
}
.new_review textarea
{
  background: white;
}
.review-buttons
{
  float: left;
  width: 540px;
}
#submit-review
{
  border: medium none;
  width: 100%;
  background-color: #2EBD85;
  border-bottom: 2px solid #00B16A;
}
.errors-container
{
  float: left;
  padding: 10px 30px;
  background-color: #F66;
  width: 100%;
  border-radius: 3px;
  color: #FFF;
  margin: 5px 0px;
}
.server-reviews .no-reviews
{
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgb(255, 104, 72);
  color: white;
  margin: 10px 0px;
  text-align: center;
  font-size: 14px;
}
p.text
{
  word-wrap: break-word;
}
.author-img>img
{
  width: 48px;
}