<div class="left-col">
  <div class="sidebar">
    <div class="login-form">
      <label class="login-label">Login:</label>
      <input type="text" class="login-input">

      <label class="password-label">Password:</label>
      <input type="password" class="password-input">

      <button class="login-button">Login</button>
      
      <%= image_tag 'selector.png', :class => 'selector-img' %>
      <div class="social-buttons">
        <button class="facebook-btn">Facebook</button>
        <button class="vk-btn">Vkontake</button>
      </div>
    </div>
  </div>
</div>