<div class="notify-container">
  <div class="reg-notify">
    Register as <button class="red-btn">Server administrator</button> or
    <button class="green-btn">WoW Player</button> to get full access!
  </div>
</div>